link(rel="stylesheet", href="http://g.tbcdn.cn/thx/cube/1.2.1/cube-min.css")
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/base.css')
link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")